footer{
    flex: 0 0 auto;
}
.global-footer-copyright{
    padding: 30px;
    font-size: 11px;
}

.terms-list-full{
    margin-top: 30px;
}


.terms-list a{
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.terms-name{
    font-size: 13px;
    font-weight: bold;
}

.row-offset-4{
    padding: 2px 4px;
}