.form-control[type="search"]{
    width: 700px;
}
.float-left{
    width: 64px;
    height: 64px;
}

.navbar-brand {
    font-size: 35px;
}

header{
    position: relative;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
}

.location-sign-in a{
    text-decoration: none;
}
.dashed-location, .dashed-sign-in {
    border-bottom: 1px dashed gray;
    text-decoration: none;
    color: black;
}
.dashed-location:hover, .dashed-sign-in:hover {
    border-color: black;

}

.text-logo{
    font-size: 50px;
}

.dropdown{
    margin-top: 4px;
    display: inline-block;
}

.dropdown-header{
    padding: 0;
}

#search-result{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline-offset: -2px;
    -webkit-appearance: none;
    width: 700px;
    background: white;
    z-index: 1;
}