.info{
    font-size: 18px;
}
.price{
    font-weight: bold;
    font-size:  35px;
}

.options{
    color: gray;
    border-bottom: 1px solid gray;
}
a{
    color: gray;
}
a:hover{
    color: black;
    text-decoration: none;
}

.arrives{
    font-size: 14px;
}

.free-shipping{
    font: bold 16px sans-serif;
}

.pickup{
    font-size: 14px;
}

.free-pickup{
    font: bold 16px sans-serif;
}

.quantity{
    color: gray;
    font-size: 12px;
}

.buy-btn{
    width: 120px;
}

.about{
    font-size: 14px;
}

.category{
    color: gray;
}

.about-price{
    font-size: 22px;
}

.seller{
    font-size: 15px;
}

.info{
    font-size: 14px;
    color: gray;
}
